{:deps true
 :nrepl {:port 8777}
 :dev-http {8200 "public"}
 :builds {:app
          {:target :browser
           :output-dir "public/js"
           :modules {:app {:init-fn com.example.core/init}}
           :dev {:build-hooks [(teknql.tailwind/start-watch!)]}
           :release
           {:build-hooks [(teknql.tailwind/compile-release!)]}
           :devtools {:http-root "public"
                      :http-port 8300}
           :tailwind/output "public/css/bundle.css"
           :tailwind/files {:base-path "."
                            :tailwind.css "public/css/index.css"}}}}
